<article class="post">
  <h1>{{ user_name }}</h1>
  <div class="title">
    <h2 href="{{post_body}}" target="_blank">{{title}}</h2>
    <span>{{post_body}}</span>
  </div>
  <div class="meta">
    <h1 href="/post/"></h1>
  </div>
</article>